{% extends 'base.html.twig' %}

{% block title %}Profile{% endblock %}

{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
       {#  <p>Email: {{ app.user.email }}</p>#}
        <div class="container">
            <h1 class="title p-1">Informations de votre compte</h1>

            <div class="content">
                <p class="username"> Votre nom d'utilisateur : {{ app.user.username }}</p>
                <p class="firstName"> Votre prénom {{ app.user.firstName }}</p>
                <p class="lastName"> Votre nom : {{ app.user.lastName }} </p>
                <p class="email"> Votre email : {{ app.user.email }}</p>
                <p class="orders"> Vos commandes en cours: //TODO</p>
                <p class="deleteAccount"> Supprimer votre compte //TODO</p>
            </div>
        </div>
    {% endif %}

{% endblock %}