{% extends 'base.html.twig' %}

{% block title %}Panier{% endblock %}

{% block body %}
    {% if items | length > 0 %}
        <table class="table">
            <thead>
            <tr>
                <th>Produit</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
                <th>Action</th>
            <tr>
                <script src="https://js.stripe.com/v3/"></script>

            </thead>

            <tbody>
            {% for item in items %}
            <tr>
                <td>{{ item.article.title }}</td>
                <td>{{ item.article.price }} €</td>
                <td>{{ item.quantity }}</td>
                <td>{{ item.article.price * item.quantity }}</td>
                <td>
                    <a href="{{ path('removeCart', {'id' : item.article.id}) }}" class="btn btn-danger btn-sm">
                        <i class="fas fa-trash"></i></a>
                </td>
            <tr>

                {% endfor %}
            </tbody>

            <tfoot>
            <tr>
                <td colspan="3">Total à payer :</td>
                <td>{{ total }} €</td>

                {% if not is_granted("ROLE_USER") %}
                    <td><a class="nav-link" href="{{ path('register') }}">Créer un compte pour finaliser la commande</a>
                    </td>
                {% endif %}

                {% if is_granted("ROLE_USER") %}

                     <td><a href="{{ path('order',{'id':app.user.id}) }}">Valider la commande</a></td>

                    <td>
                        <button id="checkout-button">Payer</button>
                    </td>

                    {% block javascripts %}
                    {# {{ encore_entry_script_tags('app') }} #}

                    <script type="text/javascript">
                     
                        var stripe = Stripe('pk_test_51J4SPfIocXlW1GMrkthGO5TkYHOrixLggZaLPAfbXcjAwawPhWQdR50K1FkLrEETAIZLaSb6fc6hU2jN3adNTVBM009ovClb4L');

                        
                        var checkoutButton = document.getElementById('checkout-button');

                        checkoutButton.addEventListener('click', function() {
                     // Create a new Checkout Session using the server-side endpoint you
                     // created in step 3.
                        fetch('/create-checkout-session', {
                        method: 'POST',
                        })
                        .then(function(response) {
                        return response.json();
                        })
                        .then(function(session) {
                        return stripe.redirectToCheckout({ sessionId: session.id });
                        })
                        .then(function(result) {
                        // If `redirectToCheckout` fails due to a browser or network
                        // error, you should display the localized error message to your
                        // customer using `error.message`.
                        if (result.error) {
                            alert(result.error.message);
                        }
                        })
                        .catch(function(error) {
                        console.error('Error:', error);
                        });
                    });
                    </script>
                    {% endblock %}
                {% endif %}
            </tr>
            </tfoot>

        </table>

    {% else %}
        <p> Votre panier est vide </p>
    {% endif %}

{% endblock %}
