{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <!--
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>
    -->

    <h1>Bienvenue sur la page d'accueil</h1>

    <!--
<div class="example-wrapper">
    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/xampp/htdocs/Projet_eCommerce/src/Controller/HomeController.php'|file_link(0) }}">src/Controller/HomeController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/xampp/htdocs/Projet_eCommerce/templates/home/index.html.twig'|file_link(0) }}">templates/home/index.html.twig</a></code></li>
    </ul>
</div>
    -->

    <div class="row">
        {% for article in articles %}

            <div class="card col-md-4" style="width: 18rem;">
                <p class="date"> Ajouté le {{ article.createdAt | date("d/m/y") }}
                    à {{ article.createdAt | date("H:i") }}
                par <span class="seller">{{ article.seller }}</span></p>
                <img class="card-img-top" src="/assets/eCommerce/images/{{ article.image }}" alt="{{ article.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <h6 class="card-stock">Quantité Dispo : {{ article.Stock }}</h6>
                    <h7 class="card-price">Prix : {{ article.price }}</h7>
                    <h8 class="card-sold">Achetés : {{ article.nbSold }}</h8>

                    <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->

                    <!--path = name ==>show , argument id = objet {'id':article.id}-->
                    <a href="{{ path('show', {'id':article.id}) }}" class="btn btn-primary">En savoir plus</a>
                    <a href="{{ path('addCart', {'id':article.id}) }}" class=" btn btn-primary">Ajouter</a>

                </div>
            </div>

        {% endfor %}
    </div>
{% endblock %}
