

{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <br/>
    <br/>
    <h1 style="background-color: black ; color: lightskyblue ; width: 235px">Inscription</h1>
    <br/>
    <br/>

    <div class="container">
        <div class="row">
            <div class="col-lg-6">{{ form_start(registrationForm) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.username) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.firstName) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.lastName) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.email) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.plainPassword, {label: 'Password'}) }}</div>
        </div>
        <br/>
        <div class="row">
            <div class="col-lg-6">{{ form_row(registrationForm.agreeTerms) }}</div>
        </div>
    </div>

    <br/>
    <br/>
    <button style="color: lightskyblue" class="btn btn-lg btn-primary" type="submit" >Register</button>
    {{ form_end(registrationForm) }}
{% endblock %}
