{% extends 'base.html.twig' %}

        {% block title %}Stats{% endblock %}

        {% block body %}
    <br/>
        <h1>Statistiques</h1>
    <br/>
    <br/>
        <div class="row">

            {% set maxValue = 0 %}
            {% set minValue = 999999 %}
            {% set maxAchats = 0 %}
            {% set minAchats = 99999 %}

        {% for article in articles %}
            {% set maxValue = max(article.price, maxValue) %}
            {% set minValue = min(article.price, minValue) %}
            {% set maxAchats = max(article.nbSold, maxAchats) %}
            {% set minAchats = min(article.nbSold, minAchats) %}
        {% endfor %}

        {% for article in articles %}
            {% if article.price == maxValue %}
                <h3>L'article le plus cher est le suivant : </h3>
                <h5 class="card-title"> Marque : {{ article.title }}</h5>
                <h5 class="card-stock">Quantité Dispo : {{ article.Stock }}</h5>
                <h5 class="card-price">Prix : {{ article.price }}€</h5>
                <h5 class="card-sold">Nombre d'articles achetés : {{ article.nbSold }}</h5>
                <br/>
                    <br/>
            {% endif %}


            {% if article.price == minValue %}
                <h3>L'article le moins cher est le suivant : </h3>
                <h5 class="card-title"> Marque : {{ article.title }}</h5>
                <h5 class="card-stock">Quantité Dispo : {{ article.Stock }}</h5>
                <h5 class="card-price">Prix : {{ article.price }}€</h5>
                <h5 class="card-sold">Nombre d'articles achetés : {{ article.nbSold }}</h5>
                <br/>
                    <br/>
            {% endif %}

            {% if article.nbSold == maxAchats %}
                <h3>L'article le plus vendu est le suivant : </h3>
                <h5 class="card-title"> Marque : {{ article.title }}</h5>
                <h5 class="card-stock">Quantité Dispo : {{ article.Stock }}</h5>
                <h5 class="card-price">Prix : {{ article.price }}€</h5>
                <h5 class="card-sold">Nombre d'articles achetés : {{ article.nbSold }}</h5>
                <br/>
                <br/>
            {% endif %}

            {% if article.nbSold == minAchats %}
                <h3>L'article le moins vendu est le suivant : </h3>
                <h5 class="card-title"> Marque : {{ article.title }}</h5>
                <h5 class="card-stock">Quantité Dispo : {{ article.Stock }}</h5>
                <h5 class="card-price">Prix : {{ article.price }}€</h5>
                <h5 class="card-sold">Nombre d'articles achetés : {{ article.nbSold }}</h5>
                <br/>
            {% endif %}

        {% endfor %}





    </div>



{% endblock %}
